{% extends "wrapper.html" %}
{% block content %}
<!-- main div is started here -->
<div class="form_wrapper">
	{% for message in form.bushingSerial.errors %}
        <div class="alert-box error">{{ message }}</div>
    {% endfor %}
    {% if noBushing %}
    <div class="alert-box error">
    <p>Your bushing was not found in the database.  Please try again.</p>
    </div>
    {% endif %}
	<h1>Data Extraction Tool</h1><br />
	<h3>Data from a Single Bushing:</h3>
	<form action="{{ url_for('data_extraction')}}" method="POST" name="singleExtract">
        {{ form.hidden_tag() }}
        <p>Enter the Bushing Serial Number: {{ form.bushingSerial(size=18) }}</p>
        <input type="submit" name="singleButton" value="Download CSV">
		<input type="submit" name="singleButton" value="Display in Browser"></p>
    </form>
</div> <!-- end form_wrapper -->
<!-- main div is ended here -->
{% endblock %}