{% extends "wrapper.html" %}
{% block content %}
<div class="docwrapper">
<h1>Documentation - Bushing Failure Historian</h1>  
	<h2>App Framework and Tools</h2>
	<p>This app is built using the <a href="http://flask.pocoo.org/">Flask microframework</a>.  This is a python based microframework designed to make buildings powerful apps easier using open source tools.  Flask is freely available under a <a href="https://en.wikipedia.org/wiki/BSD_licenses#3-clause_license_.28.22Revised_BSD_License.22.2C_.22New_BSD_License.22.2C_or_.22Modified_BSD_License.22.29">New BSD License</a> and is suitable for corporate developement.</p>
    <hr class="style-one" />
    <h2>Database Schema</h2>
    <p>The database is a sqlite db.  It follows the schema shown in the image below.  The xml code (which can be found <a href="static/docs/sql_designer.txt">here</a>) is used to load the schema graphic at <a href="http://ondras.zarovi.cz/sql/demo/">SQL Designer</a> if we need to update the schema.</p>
    <p id="sqlimg"><img src="static/img/sql_layout.jpg"/></p>
</div> <!-- end docwrapper -->
{% endblock %}