{% extends "wrapper.html" %}
{% block content %}
<!-- main div is started here -->
<div class="form_wrapper">
    {% if newBushingEntry %}
        <div class="alert-box success">
        <p>Your bushing is not in the database.  Please enter new details.</p>
        </div>
    {% endif %}
    {% if bushingExists %}
    <div class="alert-box success">
    <p>Your bushing was found.  The database details are shown.  Make any changes needed and re-submit.</p>
    </div>
    {% endif %}
    {% if success %}
        <div class="alert-box success">
            <p>Your bushing information has been successfully submitted / updated.
            <br/>Thank you!</p>
            <form action="/" method="GET">
                <p><input class="home_button" type="submit" value="Home" name="Home"></p>
            </form>
        </div>

    {% else %}
    {% for message in form.bushingSerial.errors %}
        <div class="alert-box error">{{ message }}</div>
    {% endfor %}
    {% for message in form.bushingModel.errors %}
        <div class="alert-box error">{{ message }}</div>
    {% endfor %}
    {% for message in form.bushingPlant.errors %}
        <div class="alert-box error">{{ message }}</div>
    {% endfor %}
    {% for message in form.bushingFurnace.errors %}
        <div class="alert-box error">{{ message }}</div>
    {% endfor %}
    <h1>Forming Room Information</h1>
    <form action="{{ url_for('plants')}}" method="POST" name="bushingInfo">
        {{ form.hidden_tag() }}
        <div class="bushingInformationSection">
            <h3>Bushing Information</h3>
            <p>Enter the Bushing Serial Number: {{ form.bushingSerial(size=18) }}</p>
            <p>Select the Bushing Model: {{ form.bushingModel(size=1) }}
            {% if lookup %}{{lookup.bushingModel}}{% endif %}</p>
            <p>Select the Bushing Plant: {{ form.bushingPlant(size=1) }}
            {% if lookup %}{{lookup.bushingPlant}}{% endif %}</p>
            <p>Select the Bushing Furnace: {{ form.bushingFurnace(size=1) }}
            {% if lookup %}{{lookup.bushingFurnace}}{% endif %}</p>
            <!-- <p class="lookup_button"><input type="submit" value="Lookup Bushing Info"></p> -->
            <div class="clearfix"></div>
        </div>
        <div class="installationSection">
            <h3>Installation & Early Life</h3>
            <p>Were there any installation issues?</p>
            {{comment1 = "test"}}            
            <p>{{ form.installationComments(rows="6", placeholder=comment1)}}<p>
            <p>Were there any start-up issues?</p>
            <p>{{ form.startupComments(rows="6")}}
            {% if lookup %}{{lookup.startupComments}}{% endif %}</p>
        </div>
        <p><input type="submit" value="Submit"></p>
    </form>
    {% endif %}
</div> <!-- end form_wrapper -->
<!-- main div is ended here -->
{% endblock %}